.btn btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #101923;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
} 