<div class="login-page">
    <div class="login-container">
        <span *ngIf="isLogin; then thenBlock else elseBlock" (click)="toggleCondition()"></span>
        <ng-template #thenBlock>
            <login-component></login-component>
            <p class="question-text">Ainda não possui uma conta? <span (click)="toggleCondition()" class="span-link">Registre-se</span></p>
        </ng-template>
        <ng-template #elseBlock>
            <register-component></register-component>
            <p class="question-text">Já possui uma conta? <span (click)="toggleCondition()" class="span-link">Faça login</span></p>
        </ng-template>
    </div>
</div>
