 <form class="login-card" (ngSubmit)="onSubmit(usernameInput.value, passwordInput.value)">
    <label class="card-title" for="email">Email</label>
    <input class="input-label" #usernameInput type="text" maxlength="12" placeholder="Email de acesso" autocomplete="off" required>

    <label class="card-title" for="password">Senha</label>
    <input class="input-label" #passwordInput type="text" maxlength="12" placeholder="Senha de acesso" autocomplete="off" required>

    <button class="btn-submit" type="submit" aria-label="Entrar">Entrar</button>
</form>